@model BankersCup.Models.GameDetailsViewModel

@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
    ViewBag.Title = "Game Details";
}

<img class="dialog-section-image" src="~/Content/icon_golf_course.png" />
<table class="table-dialog-content">
    <thead>
        <tr>
            <td>Course</td>
            <td>Par</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.GameCourse.Name</td>
            <td>@Model.GameCourse.Par</td>
        </tr>
    </tbody>
</table>

<img class="dialog-section-image" src="~/Content/icon_leaderboard.png" />
<table class="table-dialog-content">
    <thead>
        <tr>
            <td>Team</td>
            <td>Score</td>
        </tr>
    </thead>
    <tbody>
        @for (int count = 0; count < Math.Min(Model.Leaderboard.Count, 3); count++)
        {
            <tr>
                @*<td>#@(count + 1)</td>*@
                <td>@Model.Leaderboard[count].TeamName</td>
                <td>@Model.Leaderboard[count].AgainstPar.ToString("+#;-#;E")</td>
            </tr>
        }
    </tbody>
</table>
