@model BankersCup.Models.JoinGameViewModel

@{
    ViewBag.Title = "Join Game";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="join-overlay">
        <img class="join-logo" src="~/Content/logo_lrg.png" />
        <p>welcome to</p>
        <p>the tournament</p>
        <img class="join-text-divider" src="~/Content/divider_white.png" />
        <p>enter your</p>
        <p>registration code</p>
        @Html.EditorFor(model => model.RegistrationCode, new { htmlAttributes = new { @class = "dialog-text-input table-data-entry" } })
        <input type="submit" value="Join" class="dark-button table-data-entry" />
    </div>
    
}